@font-face {
    font-family: 'DIN';
    src: url('/fonts/din_light-webfont.woff2') format('woff2'),
         url('/fonts/din_light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'DIN';
    src: url('/fonts/din_medium-webfont.woff2') format('woff2'),
         url('/fonts/din_medium-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'DIN';
    src: url('/fonts/din_black-webfont.woff2') format('woff2'),
         url('/fonts/din_black-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

// Bulma
@import "variables";
@import "~bulma/bulma";



.has-margin-100 {
	margin: 1rem;
}

.has-margin-top-200 {
	margin-top: 2rem;
}

// .single-photo img {
// 	max-width:100vw;
// 	max-height:90vh;
// 	width: auto;
// 	height: auto;
// 	margin: auto;
// }

.single-photo-data {
	background-color: rgb(77,77,77);
}

.photo-description {
	border-left: 1px solid white;
}


hr.title-underline {
	margin: 1rem 0;
	width: 60%;
}
