@font-face {
    font-family: 'DIN';
    src: url('/fonts/din_light-webfont.woff2') format('woff2'),
         url('/fonts/din_light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'DIN';
    src: url('/fonts/din_medium-webfont.woff2') format('woff2'),
         url('/fonts/din_medium-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'DIN';
    src: url('/fonts/din_black-webfont.woff2') format('woff2'),
         url('/fonts/din_black-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

// Bulma
@import "variables";
@import "~bulma/bulma";



.has-margin-100 {
	margin: 1rem;
}

.has-margin-top-200 {
	margin-top: 2rem;
}

// .single-photo img {
// 	max-width:100vw;
// 	max-height:90vh;
// 	width: auto;
// 	height: auto;
// 	margin: auto;
// }

slider, div.slider {
	position: absolute !important;
	top: 0;
	left: 0;
	z-index: 2;
	.slider-indicator-icon {
		background-color: rgba(255,255,255,0.4);
	}
	.slider-indicator-active {
		background-color: rgba(255,255,255,0.8) !important;
	}
}


.single-photo-data {
	background-color: rgb(77,77,77);
}

.photo-description {
	border-left: 1px solid white;
}


hr.title-underline {
	margin: 1rem 0;
	width: 60%;
}

div.poster-card {
	background-color: $grey-lighter;
	padding-top: 66.6666%;
	position: relative;
}

div.poster-card > div.poster-card-content {
	position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
	height: 90%;
	overflow: auto;
}

div.poster-card > img {
	position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
}
